body, html {
  height: 100%;
  background-color: #f0f2f5;
}

.chat-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat-box {
  height: calc(100vh - 200px);
  overflow-y: auto;
  background-color: white;
  border-radius: 0.5rem;
}